.article,.title {
  max-width: 90%;
  margin: auto;
}

img {
  max-width: 100%;
}

.headerbar {
  background: linear-gradient(to right, white, darkgreen);
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  padding: 0 5%;

  h1, h2 {
    color: white;
    display: inline-block;
  }

  img.logo {
    display: inline-block;
    height: 60px;
    max-height: 60%;
  }
}
