.comment-item {
  display: flex;
  flex-direction: column;

  .comment-item-author {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    padding-top: 8px;
    border-top: 1px solid #e9e9e9;
  }

  .comment-item-author-avatar {
    width: 45px;
    margin-right: 8px;
    svg {
      font-size: 40px;
    }

    img {
      width: 100%;
    }
  }

  .comment-item-author-info {
    display: flex;
    flex-direction: column;
  }
}
