.comments {
  display: flex;
  flex-direction: column;

  .comments-count {
    color: darkgreen;
  }

  .comments-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 8px;
  }
}
